<!DOCTYPE html>
<html>
    <head>
        <title>Ask Panda - <%= user.uname %> NewPost
        </title>
        <link rel="stylesheet" href="/header.css">
        <script src="https://kit.fontawesome.com/b5a7c37228.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/post.css">
    </head>
    <body>
        <%- include('includes/header') %>
        <div id="main" class="vertical-centered-flex">
            <div id="flash-errors">
                <% if (errors) { errors.forEach( function(msg) { %>
                    <div class="flash-error-msg"> <%= msg %> </div>
                <% }) }%>
            </div>
            <% if (isEdit) { %>
                <form id="frmCreatePost" action="/post/<%= post._id %>/edit" method="POST" class="vertical-centered-flex">
                    <input type="text" name="title" id="edtTitle" placeholder="Enter a title" autocomplete="false" maxlength="60" value="<%= post.title %>">
                    <textarea name="content" id="edtContent" form="frmCreatePost" placeholder="Enter post content"><%= post.content %></textarea>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" id="btnSubmit">Save Changes</button>
                </form>                            
            <% } else { %>
                <form id="frmCreatePost" action="/newPost" method="POST" class="vertical-centered-flex">
                    <input type="text" name="title" id="edtTitle" placeholder="Enter a title" autocomplete="false" maxlength="60">
                    <textarea name="content" id="edtContent" form="frmCreatePost" placeholder="Enter post content"></textarea>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" id="btnSubmit">Add</button>
                </form>                            
            <% } %>                                                
            
        </div>
        <%- include('includes/footer') %>
    </body>
</html>