<!DOCTYPE html>
<html>
    <head>
        <title>Ask Panda - <%= post.title %></title>
        <link rel="stylesheet" href="/header.css">
        <link rel="stylesheet" href="/viewpost.css">
    </head>
    <body>
        <%- include('includes/header') %>
        <div id="main" class="vertical-centered-flex">
            <div id="post-div">
                <div id="post-author">
                    <img src="<%= post.authorInfo.gravatar %>" alt="<%= post.authorInfo.uname %>" class="imgGravatar">
                    <p><%= post.authorInfo.uname %> , <%= post.createdDate.getDate() %> / <%= post.createdDate.getMonth()+1 %> / <%= post.createdDate.getFullYear() %> </p>
                </div>                
                <h1 id="post-title"><%= post.title %></h1>                
                <p id="post-content"><%= post.content %></p>           
            </div>
        </div>
    </body>
</html>